<div class="container text-class">
  <h3>Contact Information:</h3>
  <h4>Gurkirt Heerey</h4>
  <p>(209) 216-9934</p>
  <p> <a href="https://www.google.com">gheerey12@gmail.com</a> </p>
  <p style="font-size: 18px;">Let's Connect, via <a href="https://www.google.com">gheerey12@gmail.com</a>
    <a href="https://www.google.com">gheerey12@gmail.com</a> and <a
      href="https://www.google.com">gheerey12@gmail.com</a> </p>

  <div class="links">
    <img src="/assets/images/linkedinlogo.jpg" alt="linkedin" height="100px" width="100px">
    <img src="/assets/images/facebooklogo.png" alt="linkedin" height="100px" width="100px">
    <img src="/assets/images/githublogo.png" alt="linkedin" height="100px" width="100px">

  </div>

</div>
